@font-face {
  font-family: "metropolis";
  src: url("../../components/module/home//metropolis.regular.otf");
}
.title-login {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0px !important;
}
.center-text {
  text-align: center;
}
.nav-login {
  margin: 0 18px 0 18px;
}
.costemer,
.seler {
  border: 1px solid #9b9b9b;
  border-radius: 4px 0px 0px 4px;
  background-color: #fff;
  color: #9b9b9b;
}
.selers {
  border: 1px solid #9b9b9b;
  border-radius: 0px 4px 4px 0px;
  background-color: fff;
  color: rgb(20, 20, 20);
}
.selers:hover {
  border: 1px solid #9b9b9b;
  border-radius: 0px 4px 4px 0px;
  background-color: #fff;
  color: rgb(22, 20, 20);
}
.seler {
  border: 1px solid #9b9b9b;
  border-radius: 0px 4px 4px 0px;
  background-color: #db3022;
  color: #ffffff;
}
.seler-login,
.costemer-login {
  background-color: #db3022;
  border-radius: 0 !important;
  color: #fff;
}
.seler-login {
  border-radius: 0px 5px 5px 0px;
}
.costemer {
  background-color: #db3022;
  color: #fff;
}
.costemers {
  background-color: #fafafa;
  color: rgb(0, 0, 0);
  border: 1px solid #9b9b9b;
}
.costemer:hover {
  background-color: #db3022;
  color: #fff;
  border: 1px solid #9b9b9b;
}
.costemers:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #9b9b9b;
}
.seler:hover {
  background-color: #db3022;
  color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 0 5px 5px 0;
}

.header-login {
  padding: 0 15px 15px 15px;
  text-align: center;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.btn-sign {
  background-color: #db3022;
  border-radius: 25px;
  color: #fff;
}
.btn-sign:hover {
  background-color: #db3022;
  color: #fff;
}
.float-end {
  color: red;
}
.form-email,
.form-password {
  height: 48px !important;
}
.register {
  color: #222222;
  text-align: center;
}
.page-register,
.page-login {
  color: #db3022;
  margin-left: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.forget-password {
  color: #db3022;
}
