.img{
    height: 210px;
    width: 100%;
    object-fit: cover;
}
.card1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 576px){
    .img{
        object-fit: scale-down;
    }
    /* .shadow-sm{
        height: 450px;
    } */
    .card-body{
        font-size: 24px;
    }
    .card-title{
        font-size: 34px !important;
    }
    .price{
        font-size: 14px !important;
    }
    .merk{
        font-size: 12px !important;
    }
}