*{
    padding: 0;
    margin: 0;
}
html{
    height: 100% !important;

}
body{
    overflow-x: none;
}
.footer{
    position: static;
    bottom: 0;
    width: 100%;
}
.container-custom{
    height: 100px;
}
.beban{
    height: 365px;
}
.beban h2{
    margin-top:150px;
}

textarea:focus,
input[type="search"]:focus,
.uneditable-input:focus {   
  border-color: #f0f0f0f0;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  /* outline: 0 none; */
}
    /* .dropdown-toggle:focus {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        outline: 0 none;
    } */

