.bg-success1{
    background-color: #32C33B;
}
.nav{
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25)
}
/* .filter img{
    margin-left: -5px;
  }
  .filter{
    float: right;
    margin: 5px;
    width: 25%;
      /* background-color: blue; */
    /* margin-left: -70px !important;
  }  */
  .nav-search{
    width: 220% !important;
  }
  .rounded-circle{
    object-fit: cover;
  }
  .filter{
    margin-right: 200px !important;
    margin-left: 15px !important;
    border: 0.2px solid #9d9e9e;
    border-radius: 12px !important;
  }
  .filter:hover{
    border: 1px solid #393b41;
    background-color: aliceblue;
  }